HOST="127.0.0.1" # The host of the fork, use an ip if you want to expose this to the public
REPO_PATH="/MY/PATH" # Absolute path of the repo
MAKE_CMD="make deploy-fork" # Deploy script for the repo
RPC="https://eth-mainnet.g.alchemy.com/v2/APIKEY" # RPC to fork from
FORK_BLOCK=16076347 # Block to fork from, can remove this to fork from the latest block
MNMONIC="" # Mnemonic phrase to use, useful to have the same contract addresses
PREPARE_SCRIPT="usdc_change_owner_vitalik" # Name of the file containing the prepare script after deployment
SERVER_PORT=420 # Port the not server will run
ACCESS_TOKEN=test